[Desktop Entry]
Encoding=UTF-8
Name=OSD Clock
Comment=Display clock in the corner of the screen

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=David Strobach
X-KDE-PluginInfo-Email=lalochcz@gmail.com
X-KDE-PluginInfo-Name=kwin_osdclock
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
